<div class="main-container">

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6" style="padding-left: 0;">
      <h1 class="new-title">Create a new article</h1>
    </div>
  </div>
</div>
  <%= render 'form' %>
</div>
