<div class="main-container">

  <div class="about-section">

    <h1>The classic About page</h1>

    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan vehicula mauris at ornare. Mauris gravida velit ut odio maximus euismod. Etiam eu fringilla turpis. In hac habitasse platea dictumst. Pellentesque dui dolor, tempus eget risus et, dapibus suscipit ipsum. Donec viverra, nunc vel posuere fermentum, leo sapien sollicitudin quam, ut egestas neque augue at magna. Donec sem ligula, mollis et tortor vel, maximus venenatis tortor. Phasellus ut ipsum ac lacus imperdiet rutrum viverra vitae neque.

    <p class="">Cras eget sapien facilisis, tincidunt quam at, fringilla eros. Aliquam vehicula metus vel nunc lacinia, quis lacinia purus vestibulum. Ut ac libero eu felis molestie porta. Vestibulum interdum tellus eget vulputate feugiat. Aenean faucibus auctor consequat. Vestibulum a scelerisque nibh, at efficitur ex. Cras nec congue augue, ac venenatis massa. Nullam at augue vel elit vulputate scelerisque ut id risus. Sed ut tincidunt ipsum, eu auctor nisi. Suspendisse in nibh est. Etiam auctor nulla ut iaculis faucibus. Donec dolor nibh, interdum ut odio eget, maximus scelerisque nisi. Suspendisse sem lacus, facilisis sed mattis eget, eleifend vitae sem.</p>

  </div>

</div>
