/*--------------------------------------------------------
     Colors
-------------------------------------------------------- */

$gray: #666666;
$yellow: #ffd300;
$black: rgb(30,30,30);

/* --------------------------------------------------------
     Font-families
-------------------------------------------------------- */

$text: Helvetica, sans-serif;
